html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 4px; /* Remove scrollbar space */
  background: white; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: skyblue;
}

body {
  background-color: #f6f8fd;
}

.main {
  margin-bottom: -200px;
}
.feed-title {
  font-style: normal;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: -10px;
}
.video-title {
  margin-left: 10px;
  font-style: normal;
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
}
.card {
  cursor: pointer;
}
.card:hover {
  border: 1px solid skyblue;
}
.footer {
  background-color: lightgray;
  margin-top: 500px;
}
.footer-links {
  padding-top: 1px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
